.vc1{
    position: absolute;
    top: 25px;
    left: 415px;
    word-wrap: break-word;
    font-size: 20px;
    color: greenyellow;
    font-weight: 500;
    letter-spacing: 1px;
    border: 3px solid white;
    border-radius: 20%;
    z-index: 2;
    padding: 4px;
}
.vc2{
    position: absolute;
    top: 200px;
    left: 415px;
    word-wrap: break-word;
    font-size: 20px;
    color: greenyellow;
    font-weight: 500;
    letter-spacing: 1px;
    border: 3px solid white;
    border-radius: 20%;
    z-index: 2;
    padding: 4px;
}

.vc3{
    position: absolute;
    top: 365px;
    left: 415px;
    word-wrap: break-word;
    font-size: 20px;
    color: greenyellow;
    font-weight: 500;
    letter-spacing: 1px;
    border: 3px solid white;
    border-radius: 20%;
    z-index: 2;
    padding: 4px;
}

.va{
    transform: rotate(45deg);
}